# ===================================================
# OpenOCD config for STM32F746G-DISCO (Cortex-M7)
# ===================================================

# Interface - ST-Link V2 (Serial Wire Debug)
source [find interface/stlink.cfg]
transport select hla_swd

# Target MCU
source [find target/stm32f7x.cfg]

# Reset configuration
reset_config srst_only

# Optional: RTT support
# (adres bufora RTT 0x20000000, rozmiar 4kB, kanał 0)
# Możesz dopasować do swojego projektu
# rtt setup <address> <size> <channel>
# rtt start
# rtt poll

# Używane np. w VSCode launch.json z "rtt": true