---
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: OnlyFirstIf
AllowShortLoopsOnASingleLine: true
SortIncludes: Never
SpaceBeforeParens: Never
Cpp11BracedListStyle: false
BinPackArguments: false
ReflowComments: false
AccessModifierOffset: 0
SkipMacroDefinitionBody: true
AllowShortEnumsOnASingleLine: true